################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CameraCalibration/CameraCalibration/x64/Debug/vc141.pdb
